/* OBECNÉ NASTAVENÍ */
body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: Arial;
  background: linear-gradient(145deg, #f0f3f7, #e4e9ee);
}

/* HLAVNÍ KONTEJNER */
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: left;
  position: relative;
  padding: 60px 40px 40px;
}

h1 {
  text-align: center;
  color: #3b4b59;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

/* FORMULÁŘ  */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #3b4b59;
}

input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3f5467;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: background 0.3s ease, transform 0.1s ease;
}

input::placeholder {
  color: #cfd6dc;
}

input:focus {
  background: #4b6379;
  transform: scale(1.01);
}

/*button*/

button {
  width: 100%;
  padding: 12px;
  background: #3f5467;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: background 0.3s ease, transform 0.1s ease;
}

button:hover {
  background: #516b81;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(1px);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff, #e5e9ee);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  font-size: 28px;
  position: absolute;
  top: -20px;
  /* zanoření do boxu */
}
